h1{
    font-family: Arial, Helvetica, sans-serif;
}
#marco{
    border: 2px solid black;
    padding: 10px; 
}
.principal{
  margin: 0 auto;
  width: 500px;
  padding: 40px;
  border: 1px solid #CCC;
  border-radius: 10px;
  background-color: darkslateblue;
  color: lightgray;
  font-size: 24px;
  box-shadow: 10px 10px 5px black;
  text-align: center;
}
button{
font-family: Arial;
font-size: 10px;
font-weight: bold;
color: darkslategray;
padding: 20px;
border: 2px solid black;
border-radius: 10px;
background-color: darkgray;
width: 100px;
text-align: center;
}

#botones{
 margin-top: 350px;
}

*{
  margin:0; /* Resetear valor */
  padding:0; /* Resetear valor */
 }
 body{  /* doy valores al cuerpo de la página */
  font-family:arial,sans-serif;
  font-size:100%;
  margin:2em;
  background:#666;
  color:#fff;
 }
 h2,p{
  font-size:100%;
  font-weight:normal;
 }
 ul,li{
  list-style:none; /* quito el punto de la lista */
 }
 ul{
  overflow:hidden;  /* ocultar el texto que salga de la Nota */
  padding:3em;
 }
 ul li {
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;  /* genera un bloque por cada li */
  height:30em; /* altura de la Nota */
  width:20em;  /* anchura de la Nota */
  padding:1em;  /* espacio entre texto de las Notas */
 }
 ul li{
  margin:1em;  /* espacio entre las notas */
  float:left;  /* alinear notas */
 }